.DS_Store

# runtime log
log

# python packaging tool directories
build
dist
venv
env

.data
# build tool data
releases
build-scripts/.data

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
